<div class="sticky-call-to-action">
  <h2>{{ section.settings.text-box }}</h2>

  <a href="{{ section.settings.link }}">
  <img src = "{{ section.settings.image | img_url:'master' }}">
  </a>
</div>


{% schema %}
{
  "name": "Call to action",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Link URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
  ,
  "presets": [
    {
      "name": "Call to Action",
      "category": "Promotional"
    }
  ]
}
{% endschema %}